<nav class="navbar navbar-default blue-nav-bar navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <p class="navbar-text pull-left">
                <a href="#/user/{{WebListCtrl.userId}}" class="navbar-link">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
            </p>
            <a class="navbar-brand">
                <b>Websites</b>
            </a>
            <p class="navbar-text pull-right">
                <a href="#/user/{{WebListCtrl.userId}}/website/new" class="navbar-link">
                    <span class="glyphicon glyphicon-plus"></span>
                </a>
            </p>
        </div>
    </div>
</nav>

<div class="container">
    <ul class="list-group">
        <li ng-repeat="sites in WebListCtrl.websites" class="list-group-item">
            <a href="#/user/{{WebListCtrl.userId}}/website/{{sites._id}}/page"> {{sites.name}} </a>
            <a href="#/user/{{WebListCtrl.userId}}/website/{{sites._id}}">
                <span class="glyphicon glyphicon-cog pull-right"></span>
            </a>
        </li>
    </ul>
</div>

<nav class="navbar navbar-default blue-nav-bar navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-header">
            <p class="navbar-text pull-right">
                <a href="#/user/{{WebListCtrl.userId}}" class="navbar-link">
                    <span class="glyphicon glyphicon-user"></span>
                </a>
            </p>
        </div>
    </div>
</nav>