input.form-control {
    margin-bottom: 5px;
}

body {
    padding-top: 65px;
}

.glyphicon {
    padding: 2px;
}

.navbar-default .glyphicon {
    color: black;
}

.navbar-fixed-bottom .glyphicon {
    color: #337ab7;
}

.navbar-text {
    margin: 15px;
}

.list-group-item {
    border: none;
}
.blue-nav-bar {
    background-color: #337ab7;
    border-color: #2e6da4;
}

.blue-nav-bar .navbar-brand {
    color: white;
}

.blue-nav-bar .glyphicon {
    color: white;
}

.blue-nav-bar .navbar-text {
    color: white;
}

.wrapper img {
    display: block;
    max-width:100%;
}

.wrapper iframe {
    display: block;
    max-width:100%;
}

.wrapper .overlay {
    position: absolute;
    top:0;
    right:0;
    width: 40px;
    height: 22px;
    background-color: white;
}