html, body {
    /*font-family: 'Roboto', sans-serif;*/
    font-family: 'EB Garamond', serif;
    color: ivory;!important;
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
    width: 100% !important;
    height: 100% !important;
}

/* Intro - Landing */
#intro {
    display: table;
    width: 100%;
    height: inherit;
    padding: 100px 0;
    text-align: center;
    color: #fff;
    /*#022018*/
    background: linear-gradient(135deg, #343a33, #02221a, #000A00, #000A00, #02221a, #343a33);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

#intro .intro-body {
    display: table-cell;
    vertical-align: middle;
}
#intro .intro-body h1 {
    font-size: 80px;
}

#intro .intro-body .intro-text {
    font-size: 18px;
}

@media(min-width:768px) {
    #intro {
        height: 100%;
        padding: 0;
    }
    #intro .intro-body .intro-text {
        font-size: 18px;
        letter-spacing: 1px;
        margin-bottom: 50px;
        color: rgba(255,255,255,0.9);
    }
}

/* Footer */

#footer {
    background: #36363a;
    color: #777;
    padding: 20px 0;
    text-align: center;
}
#footer span {
    color: #999999;
}

#footer p {
    font-size: 13px;
    margin-top: 10px;
}

@media (max-width: 640px) {
    #intro .intro-body h1 {
        font-size: 5em;
    }
}

/* Misc */

.list-group-item {
    border: none;
    border-radius: 0px;
    background: transparent;
}

#particle-system {
     overflow: auto;
     margin: auto;
     position: absolute;
     z-index: -2;
     color: aliceblue;
     text-align: center;
     top: 0;
     left: 0;
     bottom: 0;
     right: 0;
 }

#space-wrap {
    overflow: auto;
    margin: auto;
    position: absolute;
    z-index: -2;
    color: aliceblue;
    text-align: center;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}