html {
    overflow: hidden;
}

body {
    overflow: auto;
}

html, body {
    font-family: 'EB Garamond', serif;
    color: ivory;!important;
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
    width: 100% !important;
    height: 100% !important;
}

.my-panel {
    transition: all 1s ease-out;
    opacity: 0;
}

.my-panel.fade-in {
    opacity: 1;
}

#content-wrapper {
    height: 100%;
    width: 100%;
}

/* Nav */


/* Intro - Landing */
#intro {
    display: table;
    width: 100%;
    height: inherit;
    padding: 100px 0;
    text-align: center;
    color: #fff;
    background: -webkit-linear-gradient(135deg, #343a33, #02221a, #000A00, #000A00, #02221a, #343a33);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    /*z-index: -99;*/
}

#intro .intro-body {
    display: table-cell;
    vertical-align: middle;
}
#intro .intro-body h1 {
    font-size: 80px;
}

#intro .intro-body .intro-text {
    font-size: 18px;
}

@media(min-width:768px) {
    #intro {
        height: 100%;
        padding: 0;
    }
    #intro .intro-body .intro-text {
        font-size: 18px;
        letter-spacing: 1px;
        margin-bottom: 50px;
        color: rgba(255,255,255,0.9);
    }
}

/* About Me */

#about {
    font-family: 'Roboto', sans-serif;
    display: table;
    height: inherit;
    position: relative;
    background: linear-gradient(to bottom, #723161 0%, #632c2d 100%);
    padding: 60px 0;
    width: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;

}

div.about-body {
    display: table-cell;
    vertical-align: middle;
}

.arrow-img {
    background: transparent;
    border: 0;
    -webkit-box-shadow: 0 0 0 0 black;
    -moz-box-shadow: 0 0 0 0 black;
    box-shadow: 0 0 0 0 black;
}
.me-img {
    background: transparent;
    border: 0;
    -webkit-box-shadow: 0 0 0;
}

/* Social */

#social {
    display: table;
    height: inherit;
    font-family: 'Roboto', sans-serif;
    background: -webkit-linear-gradient(top, #31725f 0%, #2c4c63 100%);
    width: 100%;
    text-align: center;
    color: tomato;
    padding: 100px 0;
}

div.social-body {
    display: table-cell;
    vertical-align: middle;
}

#social div li {
    display: inline-block;
    margin: 0 20px;
}
#social i.fa {
    font-size: 24px;
    padding-top: 8px;
    color: tomato;
    border-radius: 4px;
    transition: all 0.3s;
}

/* Footer */

#footer {
    font-family: 'Roboto', sans-serif;
    background: #36363a;
    color: #777;
    padding: 65px 0;
    text-align: center;
}
#footer span {
    color: #999999;
}

#footer p {
    font-size: 11px;
    margin-top: 10px;
}

@media (max-width: 640px) {
    #intro .intro-body h1 {
        font-size: 5em;
    }
}

/* Misc */

.list-group-item {
    border: none;
    border-radius: 0px;
    background: transparent;
}

#particle-system {
     overflow: auto;
     margin: auto;
     position: absolute;
     z-index: -2;
     color: aliceblue;
     text-align: center;
     top: 0;
     left: 0;
     bottom: 0;
     right: 0;
 }

#space-wrap {
    overflow: auto;
    margin: auto;
    position: absolute;
    z-index: -2;
    color: aliceblue;
    text-align: center;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}