/*html, body, div, span, applet, object, iframe,*/
/*h1, h2, h3, h4, h5, h6, p, blockquote, pre,*/
/*a, abbr, acronym, address, big, cite, code,*/
/*del, dfn, em, img, ins, kbd, q, s, samp,*/
/*small, strike, strong, sub, sup, tt, var,*/
/*b, u, i, center,*/
/*dl, dt, dd, ol, ul, li,*/
/*fieldset, form, label, legend,*/
/*table, caption, tbody, tfoot, thead, tr, th, td,*/
/*article, aside, canvas, details, embed,*/
/*figure, figcaption, footer, header, hgroup,*/
/*menu, nav, output, ruby, section, summary,*/
/*time, mark, audio, video {*/
    /*margin: 0;*/
    /*padding: 0;*/
    /*border: 0;*/
    /*font-size: 100%;*/
    /*font: inherit;*/
    /*vertical-align: baseline;*/
/*}*/
/*!* HTML5 display-role reset for older browsers *!*/
/*article, aside, details, figcaption, figure,*/
/*footer, header, hgroup, menu, nav, section {*/
    /*display: block;*/
/*}*/
/*body {*/
    /*line-height: 1;*/
/*}*/
/*ol, ul {*/
    /*list-style: none;*/
/*}*/
/*blockquote, q {*/
    /*quotes: none;*/
/*}*/
/*blockquote:before, blockquote:after,*/
/*q:before, q:after {*/
    /*content: '';*/
    /*content: none;*/
/*}*/
/*table {*/
    /*border-collapse: collapse;*/
    /*border-spacing: 0;*/
/*}*/



html, body {
    font-family: 'EB Garamond', serif;
    color: ivory;!important;
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
    width: 100% !important;
    height: 100% !important;
    background: #262626;
}

html {
    position: relative;
}

body {
    position: absolute;
    overflow-y: scroll;
}


ul {
    padding-left: 10px;
}

@media only screen and (min-width: 768px) {
    ul {
        padding-left: 40px;
    }
}

.my-panel {
    font-family: 'Roboto Condensed', sans-serif;
    transition: all 1s ease-out;
    opacity: 0;
}

.my-panel.fade-in {
    opacity: 1;
}

#content-wrapper {
    align-content: center;
    height: auto;
    width: 100%;
}

/* Nav */

nav {
    display: none;
    position: fixed;
    right: 30px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    text-align: right;
    z-index: 99;
}

nav a {
    display: block;
    line-height: 25px;
    position: relative;
    padding-right: 20px;
    color: #ffffff;

}

nav a:link,a:hover {
    color: aliceblue;
    text-decoration: none;
}

nav a:hover .nav-label {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
    visibility: visible;
}

nav .nav-dot {
    display: block;
    width: 10px;
    height: 10px;
    position: absolute;
    right: 0;
    top: 50%;
    background-color: rgba(255, 255, 234, 0.7);
    border-radius: 100%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
}

nav .nav-label {
    display: block;
    opacity: 0.5;
    visibility: hidden;
    -webkit-transform: translateX(-10px);
    -ms-transform: translateX(-10px);
    transform: translateX(-10px);
    -webkit-transition: all 0.2s cubic-bezier(.17, .67, .83, .67);
    transition: all 0.2s cubic-bezier(.17, .67, .83, .67);
}


nav.is-dark a {
    color: #212121;
}

nav.is-dark .nav-dot {
    background-color: rgba(0, 0, 0, 0.5);
}

nav ul {
    margin: 0;
    padding: 0;
}

nav li {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 16px;
    width: auto;
    list-style: none;
}

@media only screen and (min-width: 768px) {
    nav {
        display: block;
    }
}


/* Intro - Landing */

#intro {
    display: table;
    width: 100%;
    height: inherit;
    padding: 100px 0;
    text-align: center;
    /*background: -webkit-linear-gradient(135deg, #343a33, #02221a, #000A00, #000A00, #02221a, #343a33);*/

    /*background: -moz-linear-gradient(135deg, #343a33, #02221a, #000A00, #000A00, #02221a, #343a33);*/
    /*background: -webkit-linear-gradient(135deg, #343a33, #02221a, #000A00, #000A00, #02221a, #343a33);*/
    /*background: -o-linear-gradient(135deg, #343a33, #02221a, #000A00, #000A00, #02221a, #343a33);*/
    /*background: -ms-linear-gradient(135deg, #343a33, #02221a, #000A00, #000A00, #02221a, #343a33);*/

    /*z-index: -99;*/

    background: url(assets/bg-neu.jpg);
    background-size: cover;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

#intro .intro-body {
    display: table-cell;
    vertical-align: middle;
}
#intro .intro-body h1 {
    font-size: 80px;
    font-weight: 800;
}

#intro .intro-body .intro-text {
    font-size: 16px;
}

@media(min-width:768px) {
    #intro {
        height: 100%;
        padding: 0;
    }
    #intro .intro-body .intro-text {
        font-size: 30px;
        font-weight: 700;
        margin-bottom: 50px;
    }
}

/* Parallax */
.parallax {
    /*display: none;*/
    padding: 100px 0;
    background: url(assets/services-bg.jpg);
    background-size: cover;
    background-attachment: fixed;
}

/* About Me */

#about {
    font-family: 'Roboto', sans-serif;
    display: table;
    height: inherit;
    position: relative;
    background: linear-gradient(to bottom, #723161 0%, #632c2d 100%);
    padding: 100px 0;
    width: 100%;
    margin: 0 auto;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;

}

div.about-body {
    display: table-cell;
    /*vertical-align: middle;*/
}

.arrow-img {
    background: transparent;
    border: 0;
    -webkit-box-shadow: 0 0 0 0 black;
    -moz-box-shadow: 0 0 0 0 black;
    box-shadow: 0 0 0 0 black;
}
.me-img {
    background: transparent;
    border: 0.5px;
    box-shadow: 1px 0 1px 0 aliceblue;
    width : 200px;
    height : 230px;
}

.about-title {
    font-weight: 800;
    cursor: pointer;
}

.about-content {
    display: none;
    opacity: 0;
    transition: all 1s ease-out;
    align-content: center;
}

.about-content.reveal {
    display: inherit;
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th , .table>thead>tr>th{
    border-top: 0px;
    border-bottom: 0px;
}

.center {
    margin-left:auto;
    margin-right:auto;
}

.this-guy {
    font-family: 'Indie Flower', cursive;
}

.table {
    font-size: 13px;
}

@media(min-width:768px) {
    .table {
        font-size: 18px;
    }
}


/* Work */

#work {
    display: table;
    height: inherit;
    /*font-family: 'Roboto', sans-serif;*/
    /*background: #232526;*/
    /*background: -webkit-linear-gradient(to left, #232526 , #414345);*/
    /*background: linear-gradient(to left, #232526 , #414345);*/
    width: 100%;
    padding: 100px 0;
}

div.work-body {
    display: table-cell;
    /*vertical-align: middle;*/
}

.job {
    font-size: 13px;
    text-align: justify;
    padding-left: 2%;
    padding-right: 4%;
}

.job h3 {
    font-size: 16px;
}

@media(min-width:768px) {
    .job {
        font-size: 16.5px;
    }

    .job h3{

    }

    .company-logo {
        margin-left: 7px;
    }
}

.work-title {
    color: aliceblue;
    font-weight: 800;
    cursor: pointer;
}

.work-content {
    display: none;
    opacity: 0;
    transition: all 1s ease-out;
}

.work-content.reveal {
    display: inherit;
}

.company-logo {
    margin-left: 0px;
}

.resume-btn {
    border: 1px;
    border-color: aliceblue;
    background: transparent;
}

a.btn.resume-btn {
    color: aliceblue;
    background: rgba(0,0,0,0);
    border: solid 2px aliceblue;
    border-radius: 0px;
}
a.btn.resume-btn:hover,
a.btn.resume-btn.hover {
    border-color: #bbbbbb;
    color: gainsboro;
}
a.btn.resume-btn:active,
a.btn.resume-btn.active {
    border-color: tomato;
    color: deeppink;
}

/* Projects */

#projects {
    display: table;
    height: inherit;
    font-family: 'Roboto Condensed', sans-serif;
    /*background: #31725f;*/
    /*background: -webkit-gradient(left top, left bottom, color-stop(0%, #31725f), color-stop(100%, #2c4c63));*/
    /*background: -webkit-linear-gradient(top, #31725f 0%, #2c4c63 100%);*/
    /*background: linear-gradient(to bottom, #31725f 0%, #2c4c63 100%);*/
    background: aliceblue;
    color: #262626;
    width: 100%;
    padding: 100px 0;
}

div.project-body {
    display: table-cell;
}

.projects-title {
    font-weight: 800;
    cursor: pointer;
    transition: all 1s ease-out;
}

.projects-title hr {
    border-top: 1px solid #262626;
}

.projects-content {
    display: none;
    opacity: 0;
    transition: all 1s ease-out;
}

.projects-content.reveal {
    display: inherit;
}

.project-item {
    font-size: 15px;
    text-align: justify;
    padding-left: 2%;
    padding-right: 4%;
    border-bottom: solid 0.5px;
    border-top: solid 0.5px;
}

.project-item h3 {
    font-size: 18px;
}

@media(min-width:768px) {
    .project-item {
        font-size: 16.5px;
    }

    .project-item h3{

    }
}

.project-name {
    margin-top: 10px;
    margin-bottom: 0px;
}

.project-details {
    margin-top: 10px;
    margin-bottom: 10px;
}

@media(min-width:768px) {
    .project-item {
        text-align: justify;
    }
}


/* ****************************** */

a, a:hover, a:active, a:visited {
    text-decoration:none;
}

a.active, a.active:hover, a.active:active, a.active:visited {
    text-decoration:none;
}

div.categories {
    padding-top: 10px;
    padding-bottom: 15px;
    text-align: center;
}
ul.cat li {
    text-align: center;
    display: inline-block;
}
ol.type li {
    text-align: center;
    display: inline-block;
    margin-left: 20px;
}

ol.type {
    padding-left: 0px;
}

ol.type li a {
    color: #262626;
    padding: 8px 16px;
    border: 1px solid #262626;
    border-radius: 0px;
}
ol.type li a.active {
    color: aliceblue;
    background: #262626;
}
ol.type li a:hover {
    background: aliceblue;
    border-color: tomato;
    color: deeppink;
}

ol.type li a.active:visited {
    text-decoration: none;
}

.isotope-item {
    z-index: 2
}
.isotope-hidden.isotope-item {
    z-index: 1
}
.isotope, .isotope .isotope-item {
    -webkit-transition-duration: 0.8s;
    -moz-transition-duration: 0.8s;
    transition-duration: 0.8s;
}
.isotope-item {
    margin-right: -1px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.isotope {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition-property: height;
    -moz-transition-property: height;
    transition-property: height;
}
.isotope .isotope-item {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition-property: -webkit-transform, opacity;
    -moz-transition-property: -moz-transform, opacity;
    transition-property: transform, opacity;
}


.btn-inverse {
    border: 1px;
    border-color: #262626;
    background: transparent;
}

a.btn.btn-inverse {
    color: #262626;
    background: rgba(0,0,0,0);
    border: solid 2px #262626;
    border-radius: 0px;
}
a.btn.btn-inverse:hover,
a.btn.btn-inverse.hover {
    border-color: #337ab7;
    color: #31725f;
}
a.btn.btn-inverse:active,
a.btn.btn-inverse.active {
    border-color: tomato;
    color: deeppink;
}

/* ****************************** */


/* Social */

#social {
    display: table;
    font-family: 'Roboto Condensed', sans-serif;
    background: #EECDA3;
    background: -webkit-linear-gradient(to left, #EECDA3 , #EF629F);
    background: linear-gradient(to left, #EECDA3 , #EF629F);
    width: 100%;
    padding: 100px 0;
}

div.social-body {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

#social div li {
    display: inline-block;
    margin: 0 20px;
}
#social i.fa {
    font-size: 80px;
    padding-top: 8px;
    color: black;
    border-radius: 4px;
    transition: all 1s ease-out;
}

.social-title {
    color: aliceblue;
    font-weight: 800;
    cursor: pointer;
}

.social-content {
    display: none;
    transition: all 1s ease-out;
}

.social-content.reveal {
    display: inherit;
}


/*  Webdev  */

#main-section {
    display: table;
    font-family: 'Roboto Condensed', sans-serif;
    background: #31725f;
    background: -webkit-gradient(left top, left bottom, color-stop(0%, #31725f), color-stop(100%, #2c4c63));
    background: -webkit-linear-gradient(top, #31725f 0%, #2c4c63 100%);
    background: linear-gradient(to bottom, #31725f 0%, #2c4c63 100%);
    width: 100%;
    padding: 100px 0;
}

div.section-body {
    display: table-cell;
    text-align: center;
}

#main-section div li {
    display: inline-block;
    margin: 0 20px;
}
#main-section i.fa {
    font-size: 80px;
    padding-top: 8px;
    color: black;
    border-radius: 4px;
    transition: all 0.3s;
}

.section-title {
    color: aliceblue;
    font-weight: 800;
    cursor: pointer;
}

.section-content {
    display: none;
    transition: all 1s ease-out;
}

.section-content.reveal {
    display: inherit;
}

/* Footer */

#footer {
    font-family: 'Roboto', sans-serif;
    background: #36363a;
    color: #777;
    padding: 100px 0;
    text-align: center;
}
#footer span {
    color: #999999;
}

#footer p {
    font-size: 11px;
    margin-top: 10px;
}

@media (max-width: 640px) {
    #intro .intro-body h1 {
        font-size: 5em;
    }
}

/* Misc */

#particle-system {
    overflow: auto;
    margin: auto;
    z-index: -2;
    color: aliceblue;
    text-align: center;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

}

#space-wrap {
    overflow: auto;
    margin: auto;
    position: absolute;
    z-index: -2;
    color: aliceblue;
    text-align: center;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}


.up {
    top : 0;
    left : 0;
}

.down {
    /*display: none;*/
    position: absolute;
    opacity: 0;
    top : 35%;
    left : 43.5%;
    /*transform: translateY(-200%);*/
}