<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <p class="navbar-text pull-left">
                <a href="#/user/{{PageListCtrl.userId}}/website" class="navbar-link">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
            </p>
            <a class="navbar-brand">
                <b>Pages</b>
            </a>
            <p class="navbar-text pull-right">
                <a href="#/user/{{PageListCtrl.userId}}/website/{{PageListCtrl.websiteId}}/page/new" class="navbar-link">
                    <span class="glyphicon glyphicon-plus"></span>
                </a>
            </p>
        </div>
    </div>
</nav>

<div class="container">
    <ul class="list-group">
        <li ng-repeat="pgRepeat in PageListCtrl.pages" class="list-group-item">
            <a href="#/user/{{PageListCtrl.userId}}/website/{{PageListCtrl.websiteId}}/page/{{pgRepeat._id}}/widget">
                {{pgRepeat.name}} </a>
            <a href="#/user/{{PageListCtrl.userId}}/website/{{PageListCtrl.websiteId}}/page/{{pgRepeat._id}}">
                <span class="glyphicon glyphicon-cog pull-right"></span>
            </a>
        </li>
    </ul>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-header">
            <p class="navbar-text pull-right">
                <a href="#/user" class="navbar-link">
                    <span class="glyphicon glyphicon-user"></span>
                </a>
            </p>
        </div>
    </div>
</nav>