<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <p class="navbar-text pull-left">
                <a href="#/user/{{NewPageCtrl.userId}}/website/{{NewPageCtrl.websiteId}}/page" class="navbar-link">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
            </p>
            <a class="navbar-brand">
                <b>New Page</b>
            </a>
            <p class="navbar-text pull-right">
                <a href="" ng-click="NewPageCtrl.createPage()"  class="navbar-link">
                    <span class="glyphicon glyphicon-ok"></span>
                </a>
            </p>
        </div>
    </div>
</nav>

<div class="container">

    <div ng-show="NewPageCtrl.error"
         class="alert alert-danger">
        {{NewPageCtrl.error}}
    </div>

    <form name="newpageform">
        <div class="form-group" ng-class="{ 'has-error': newpageform.name.$invalid }">
            <label for="page_name"> Name</label>
            <input ng-model="NewPageCtrl.page.name" type="text" name="name" class="form-control" id="page_name" placeholder="Page Name" required>
        </div>
        <div class="form-group">
            <label for="page_title">Title </label>
            <input ng-model="NewPageCtrl.page.title" type="text" class="form-control" id="page_title" placeholder="Page Title">
        </div>
    </form>

</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-header">
            <p class="navbar-text pull-right">
                <a href="#/user" class="navbar-link">
                    <span class="glyphicon glyphicon-user"></span>
                </a>
            </p>
        </div>
    </div>
</nav>