<div class="container">

    <div ng-show="LoginCtrl.error"
         class="alert alert-danger">
        {{LoginCtrl.error}}
    </div>

    <h1>Login</h1>
    <input  ng-model="LoginCtrl.user.username"
            type="text"
            class="form-control"
            placeholder="Username"/>
    <input  ng-model="LoginCtrl.user.password"
            type="password"
            class="form-control"
            placeholder="pA$$w0rD"/>
    <a class="btn btn-primary btn-block" ng-click="LoginCtrl.login(LoginCtrl.user)">
        Login</a>
    <a class="btn btn-success btn-block" href="#/register">
        Register</a>
</div>