<div class="container">
    <h1>Register</h1>
    <input ng-model="RegisterCtrl.user.username"
           type="text"
           class="form-control"
           placeholder="Username"/>
    <input ng-model="RegisterCtrl.user.password"
           type="password"
           class="form-control"
           placeholder="pA$$w0rD"/>
    <input type="password"
           class="form-control"
           placeholder="Verify Password"/>
    <a class="btn btn-primary btn-block"
       ng-click="RegisterCtrl.register(RegisterCtrl.user)">Register</a>
    <a class="btn btn-danger  btn-block"
       href="#/login">Cancel</a>
</div>