<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <p class="navbar-text pull-left">
                <a href="#/user/:uid/website/:wid/page" class="navbar-link">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
            </p>
            <a class="navbar-brand">
                <b>Widgets</b>
            </a>
            <p class="navbar-text pull-right">
                <a href="#/user/:uid/website/:wid/page/:pid/widget/new" class="navbar-link">
                    <span class="glyphicon glyphicon-plus"></span>
                </a>
            </p>
        </div>
    </div>
</nav>

<div class="container">
    <ul class="list-group">
        <li class="list-group-item wrapper">
            <img class="img-responsive" src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/95/Wired_logo.svg/2000px-Wired_logo.svg.png">
            <div class="overlay">
                <span class="glyphicon glyphicon-align-justify pull-right"></span>
                <a href="widget-image.view.client.html">
                    <span class="glyphicon glyphicon-cog pull-right"></span>
                </a>
            </div>
        </li>
        <li class="list-group-item wrapper">
            <p class="lead"><b>HOW NIKE BUILT THE REAL POWER-LACING SNEAKER OF OUR DREAMS.</b></p>
            <div class="overlay">
                <span class="glyphicon glyphicon-align-justify pull-right"></span>
                <a href="widget-heading.view.client.html">
                    <span class="glyphicon glyphicon-cog pull-right"></span>
                </a>
            </div>
        </li>
        <li class="list-group-item wrapper">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/1xcxn7pOYCg" allowfullscreen></iframe>
            </div>
            <div class="overlay">
                <span class="glyphicon glyphicon-align-justify pull-right"></span>
                <a href="widget-youtube.view.client.html">
                    <span class="glyphicon glyphicon-cog pull-right"></span>
                </a>
            </div>
        </li>
        <li class="list-group-item wrapper">
            <p class="lead"><b>Google’s Got a Plan to Unify the World’s Wi-Fi Hotspots</b></p>
            <div class="overlay">
                <span class="glyphicon glyphicon-align-justify pull-right"></span>
                <a href="widget-heading.view.client.html">
                    <span class="glyphicon glyphicon-cog pull-right"></span>
                </a>
            </div>
        </li>
        <li class="list-group-item wrapper">
            <p>Public Wi-fi is great. But it’s infuriating when your connection at the neighborhood coffee shop goes down minutes before deadline and the baristas have no clue what’s wrong...</p>
            <div class="overlay">
                <span class="glyphicon glyphicon-align-justify pull-right"></span>
                <a href="widget-heading.view.client.html">
                    <span class="glyphicon glyphicon-cog pull-right"></span>
                </a>
            </div>
        </li>
        <li class="list-group-item wrapper">
            <img class="img-responsive" src="assets/Google_G_Logo-2-s.png">
            <div class="overlay">
                <span class="glyphicon glyphicon-align-justify pull-right"></span>
                <a href="widget-image.view.client.html">
                    <span class="glyphicon glyphicon-cog pull-right"></span>
                </a>
            </div>
        </li>
    </ul>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-header">
            <p class="navbar-text pull-right">
                <a href="../views/user/profile.html" class="navbar-link">
                    <span class="glyphicon glyphicon-user"></span>
                </a>
            </p>
        </div>
    </div>
</nav>