<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <p class="navbar-text pull-left">
                <a href="#/user/{{WidgetListCtrl.userId}}/website/{{WidgetListCtrl.websiteId}}/page" class="navbar-link">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
            </p>
            <a class="navbar-brand">
                <b>Widgets</b>
            </a>
            <p class="navbar-text pull-right">
                <a href="#/user/{{WidgetListCtrl.userId}}/website/{{WidgetListCtrl.websiteId}}/page/{{WidgetListCtrl.pageId}}/widget/new" class="navbar-link">
                    <span class="glyphicon glyphicon-plus"></span>
                </a>
            </p>
        </div>
    </div>
</nav>

<div class="container">
    <ul class="list-group">
        <div ng-repeat="w in WidgetListCtrl.widgets"
             ng-switch="w.widgetType">
            <div ng-switch-when="YOUTUBE">
                <iframe width="560" height="315" ng-src="{{ WidgetListCtrl.checkSafeYouTube(w.url) }}" frameborder="0" allowfullscreen></iframe>
            </div>
            <div ng-switch-when="HEADER"
                 ng-switch="w.size">
                <h1 ng-switch-when="1">{{w.text}}</h1>
                <h2 ng-switch-when="2">{{w.text}}</h2>
                <h3 ng-switch-when="3">{{w.text}}</h3>
                <h4 ng-switch-when="4">{{w.text}}</h4>
                <h5 ng-switch-when="5">{{w.text}}</h5>
                <h6 ng-switch-when="6">{{w.text}}</h6>
            </div>
            <div ng-switch-when="IMAGE">
                Image
            <div ng-switch-when="HTML" ng-bind-html="WidgetListCtrl.checkSafeHTML(w.text)"></div>
        </div>
    </ul>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-header">
            <p class="navbar-text pull-right">
                <a href="/user/{{WidgetListCtrl.userId}}" class="navbar-link">
                    <span class="glyphicon glyphicon-user"></span>
                </a>
            </p>
        </div>
    </div>
</nav>