<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <p class="navbar-text pull-left">
                <a ng-click="model.goBack()" class="navbar-link">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
            </p>
            <a class="navbar-brand" href="#">
                <b ng-hide="model.newWidget">Widget Edit</b>
                <b ng-show="model.newWidget">Widget Create</b>
            </a>
            <p class="navbar-text pull-right">
                <a ng-click="model.updateWidget()" class="navbar-link">
                    <span class="glyphicon glyphicon-ok"></span>
                </a>
            </p>
        </div>
    </div>
</nav>

<div class="container">

    <div ng-show="model.error"
         class="alert alert-danger">
        {{model.error}}
    </div>

    <form name="widgetform">
        <div class="form-group" ng-class="{ 'has-error': widgetform.name.$invalid }" >
            <label for="heading_name">Name</label>
            <input ng-model="model.widget.name" type="text" name="name" class="form-control" id="heading_name" placeholder="Name" required>
        </div>
        <div class="form-group">
            <label for="heading_text">Title </label>
            <input ng-model="model.widget.text" type="text" class="form-control" id="heading_text" placeholder="Text">
        </div>

        <div class="form-group">
            <label for="heading_size">Title </label>
            <input ng-model="model.widget.size" type="number" class="form-control" id="heading_size" placeholder="3">
        </div>
        <a ng-hide="model.newWidget" ng-click="model.deleteWidget()" class="btn btn-danger btn-block">Delete</a>
    </form>

</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-header">
            <p class="navbar-text pull-right">
                <a href="#/user" class="navbar-link">
                    <span class="glyphicon glyphicon-user"></span>
                </a>
            </p>
        </div>
    </div>
</nav>